<nav>
  <ul>
    <li><a href="/home">Home</a></li>
    <li><a href="/ebooks">E-Books</a></li>
    <% if(session.role !== 'reader') { %>
    <li><a href="/accounts">Accounts</a></li>
    <% } else { %>
    <li><a href="/accounts">Account</a></li>
    <% } %>
    <li><a href="/logout">Log Out</a></li>
  </ul>
</nav>

<style>
  ul {
    padding-left: 0;
  }

  li {
    display: inline;
    margin-right: 30px;
  }
</style>