<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Details</title>
</head>

<body>
  <%- include('partials/nav')  -%>

  <h1><%= data.title %> </h1>

  <table border="2">
    <tr>
      <th>Borrower Name</th>
      <th>Borrow Date</th>
      <th>Return Date</th>
      <th>Action</th>
    </tr>

    <tr>
      <td><%= data.Accounts.name %></td>
      <td></td>
      <td></td>
      <td><a href="/accounts/reminder<%= data.id %> ">Remind</a></td>
    </tr>
  </table>
</body>

</html>