<%- include('partials/head')  -%>

  <h1>DIGILIB</h1>
  <h4>Login to access Digilib</h4>

  <% if(error) %>
  <h3><%= error %></h3>

  <% if(success) %>
  <h3><%= success %></h3>

  <form method="post">
    <input required type="text" name="email" id="" placeholder="Email"><br><br>
    <input required type="password" name="password" id="" placeholder="Password"><br><br>
    <button type="submit">Login</button>
  </form>
  <p>Don't have an account? Create new one <a href="/newaccount">here</a></p>
</center>
</body>

</html>